@tailwind base;
@tailwind components;
@tailwind utilities;

.manrope {
  font-family: "Manrope", sans-serif;
}

.shadow-100 {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.lato {
  font-family: "Lato", sans-serif;
}
